<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
	  *{
	  	margin: 0;
	  	padding: 0;
	  }
	  li,ul{
	     list-style: none;
	 }
		a{
			text-decoration: none;
	 }
	 body{
	 	
	 	background: #303030 url(../images/arrow_right.gif) no-repeat  center top;
	 }
	</style>
</head>
<body>
	
</body>
</html>