<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<frameset id="header-frame"  rows="118,*" border="0" framespacing="0"
scrolling="no">
	<frame src="page" ></frame>
	<frameset id="frame-body" cols="180,10,*" border="0" framespacing="0">
			<frame id="mainleft" src="mainleft" scrolling="yes" frameborder="no">
				
			</frame>
			<frame id="drag" src="drag" scrolling="no" frameborder="no">
				
			</frame>
			<frame id="mainright" src="mainright" scrolling="yes" frameborder="no">
					
			</frame>
	</frameset>
</frameset>
</html>